html, body {
  background: url(https://getuikit.com/images/section-background.svg) 50% 17vh no-repeat,linear-gradient(to left top, #bfc4e0, #737caf) 0 0 no-repeat;
}
.uk-icon{
  margin-right: 5px;
}
.uk-card .uk-card-body {
  position: relative;
}
.uk-card .uk-card-body .uk-card-avatar {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.uk-card .uk-card-body img.uk-card-avatar {
  width: 100px;
}
.uk-card .uk-card-body .uk-navigation-social {
  bottom: -90px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  html, body {
    background: #fff;
  }
  body > .uk-section {
    padding: 0px;
  }
  body > .uk-section .uk-card-default {
    box-shadow: none;
    background: url(https://getuikit.com/images/section-background.svg), linear-gradient(to left top, #bfc4e0, #737caf) 0 0 no-repeat;
    color: #fff;
  }
  .uk-card-default .uk-card-title {
    color: #fff;
  }
  .uk-text-muted, .uk-icon-link {
    color: #eee !important;
  }
  .uk-card .uk-card-body .uk-card-avatar {
    top: -35px;
  }
  .uk-card .uk-card-body img.uk-card-avatar {
    width: auto;
  }
}