extends layout.pug
block body
  .row
    .col-md-8.col-xs-10.offset-xs-1
      .row
        img.col-md-2.col-xs-4.rounded.float-md-left.hidden-xs-down(src="//avatars1.githubusercontent.com/u/11029687?v=3&s=460")
        .col-md-10.col-xs-12
          h2.title-name Hi, I'm Eries Trisnadi
          .role-wrap
            span.lead.pull-left and I
            ul.role-words.pull-left.text-warning
              li
                span.lead(style="padding-left:0px !important;")
                  | 'm Web Developer
              li
                span.lead
                  | work on
                  a(href="//indosoft.com.au")
                    mark Indosoft, Inc
              li
                span.lead
                  | member of
                  a(href="//github.com/Gitster-ID")
                    mark Gitster-ID
              li
                span.lead
                  | created
                  a(href="//sorairo.fansubs.pw")
                    mark Sora Iro
              li
                span.lead(style="padding-left:0px !important;")
                  | 've built
                  a(href="//github.com/lowsprofile/robojin")
                    mark robojin
            span.pull-left.lead .
    // /.row
