extends layout.pug
block body
  .row
    .col-sm-10.col-md-8.col-xl-6.offset-sm-2.offset-md-3.offset-xl-4
      img.col-md-2.col-xs-4.rounded.float-md-left.hidden-sm-down(src="//avatars1.githubusercontent.com/u/11029687?v=3&s=460")
      .row
        .col-md-10.col-xs-12
          h2.title-name Hi, I'm Eries Trisnadi
          .role-wrap
            span.lead.pull-left and I
            ul.role-words.pull-left.text-warning
              li
                span.lead(style="padding-left:0px !important;")
                  | 'm CTO at Banua Solution
              li
                span.lead
                  | member of
                  a(href="//github.com/Gitster-ID")
                    mark Gitster-ID
              li
                span.lead
                  | created
                  a(href="//sorairo.fansubs.pw")
                    mark Sora Iro
              li
                span.lead(style="padding-left:0px !important;")
                  | 've built
                  a(href="//github.com/lowsprofile/robojin")
                    mark robojin
            span.pull-left.lead .
    // /.row
