doctype html
html(lang="en", class="full")
  head
    meta(charset="utf-8")
    title Eries Trisnadi
    link(rel="canonical", href=".")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    include partials/head.pug
  body
    .filter
    // Navigation
    #doc_navbar.navbar.navbar-light.bg-faded.navbar-fixed-bottom.doc-navbar.hidden-lg-up
      button.navbar-toggler.bg-avatar.hidden-lg-up(aria-controls='doc_navdrawer', aria-expanded='false', aria-label='Toggle Navdrawer', data-target='#doc_navdrawer', data-toggle='navdrawer', data-type='permanent')
      a.navbar-brand(href='/') Eries Trisnadi
    #doc_navdrawer.navdrawer.navdrawer-permanent.doc-navdrawer(style='display: none;')
      .navdrawer-content
        .navdrawer-header
          a.navbar-brand.px-0(href='/') Eries Trisnadi
        nav.navdrawer-nav
          a.nav-item.nav-link(href='//blog.eries.id') Blog
          a.nav-item.nav-link(href='//github.com/lowsprofile') Github
          a.nav-item.nav-link(href='//linkedin.com/in/eriestrisnadi') LinkedIn
          a.nav-item.nav-link(href='//instagram.com/eriestrisnadi/') Instagram
          a.nav-item.nav-link(href='/resume/resume.pdf') Resume
          a.nav-item.nav-link(href='mailto:me@eries.id') Contact
    .container
      block body
    include partials/foot.pug
